@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Bold.eot');
    src: url('BebasNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Bold.woff2') format('woff2'),
        url('BebasNeue-Bold.woff') format('woff'),
        url('BebasNeue-Bold.ttf') format('truetype'),
        url('BebasNeue-Bold.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin.woff2') format('woff2'),
        url('BebasNeue-Thin.woff') format('woff'),
        url('BebasNeue-Thin.ttf') format('truetype'),
        url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Light.eot');
    src: url('BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Light.woff2') format('woff2'),
        url('BebasNeue-Light.woff') format('woff'),
        url('BebasNeue-Light.ttf') format('truetype'),
        url('BebasNeue-Light.svg#BebasNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.eot');
    src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff'),
        url('BebasNeue-Regular.ttf') format('truetype'),
        url('BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeue-Book.eot');
    src: url('BebasNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Book.woff2') format('woff2'),
        url('BebasNeue-Book.woff') format('woff'),
        url('BebasNeue-Book.ttf') format('truetype'),
        url('BebasNeue-Book.svg#BebasNeue-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Bold_1.eot');
    src: url('BebasNeue-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Bold_1.woff2') format('woff2'),
        url('BebasNeue-Bold_1.woff') format('woff'),
        url('BebasNeue-Bold_1.ttf') format('truetype'),
        url('BebasNeue-Bold_1.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Thin_1.eot');
    src: url('BebasNeue-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin_1.woff2') format('woff2'),
        url('BebasNeue-Thin_1.woff') format('woff'),
        url('BebasNeue-Thin_1.ttf') format('truetype'),
        url('BebasNeue-Thin_1.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeue-Book_1.eot');
    src: url('BebasNeue-Book_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Book_1.woff2') format('woff2'),
        url('BebasNeue-Book_1.woff') format('woff'),
        url('BebasNeue-Book_1.ttf') format('truetype'),
        url('BebasNeue-Book_1.svg#BebasNeue-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular_1.eot');
    src: url('BebasNeue-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Regular_1.woff2') format('woff2'),
        url('BebasNeue-Regular_1.woff') format('woff'),
        url('BebasNeue-Regular_1.ttf') format('truetype'),
        url('BebasNeue-Regular_1.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Light_1.eot');
    src: url('BebasNeue-Light_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Light_1.woff2') format('woff2'),
        url('BebasNeue-Light_1.woff') format('woff'),
        url('BebasNeue-Light_1.ttf') format('truetype'),
        url('BebasNeue-Light_1.svg#BebasNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

