//====== BebasNeue ==========================================================================

@font-face {
    font-family: 'Bebas-Neue-Bold';
    src: url('../assets/fonts/BebasNeue-Bold.eot');
    src: url('../assets/fonts/BebasNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Bold.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Bold.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Bold.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Bold.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-Thin';
    src: url('../assets/fonts/BebasNeue-Thin.eot');
    src: url('../assets/fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Thin.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Thin.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Thin.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-Light';
    src: url('../assets/fonts/BebasNeue-Light.eot');
    src: url('../assets/fonts/BebasNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Light.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Light.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Light.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Light.svg#BebasNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-Regular';
    src: url('../assets/fonts/BebasNeue-Regular.eot');
    src: url('../assets/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Regular.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-Book-Book';
    src: url('../assets/fonts/BebasNeue-Book.eot');
    src: url('../assets/fonts/BebasNeue-Book.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Book.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Book.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Book.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Book.svg#BebasNeue-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-Bold_1';
    src: url('../assets/fonts/BebasNeue-Bold_1.eot');
    src: url('../assets/fonts/BebasNeue-Bold_1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Bold_1.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Bold_1.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Bold_1.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Bold_1.svg#BebasNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-NeueThin_1';
    src: url('../assets/fonts/BebasNeue-Thin_1.eot');
    src: url('../assets/fonts/BebasNeue-Thin_1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Thin_1.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Thin_1.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Thin_1.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Thin_1.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Neue-BookBook_1';
    src: url('../assets/fonts/BebasNeue-Book_1.eot');
    src: url('../assets/fonts/BebasNeue-Book_1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Book_1.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Book_1.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Book_1.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Book_1.svg#BebasNeue-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-NeueRegular_1';
    src: url('../assets/fonts/BebasNeue-Regular_1.eot');
    src: url('../assets/fonts/BebasNeue-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Regular_1.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Regular_1.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Regular_1.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Regular_1.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-NeueLight_1';
    src: url('../assets/fonts/BebasNeue-Light_1.eot');
    src: url('../assets/fonts/BebasNeue-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BebasNeue-Light_1.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Light_1.woff') format('woff'),
    url('../assets/fonts/BebasNeue-Light_1.ttf') format('truetype'),
    url('../assets/fonts/BebasNeue-Light_1.svg#BebasNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

//===== Barlow_Condensed ================================================================================

@font-face {
    font-family: 'Barlow-Condensed-BlackItalic';
    src: url('../assets/fonts/BarlowCondensed-BlackItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-BlackItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-BlackItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-BlackItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-BlackItalic.svg#BarlowCondensed-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-Black';
    src: url('../assets/fonts/BarlowCondensed-Black.eot');
    src: url('../assets/fonts/BarlowCondensed-Black.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Black.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Black.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Black.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Black.svg#BarlowCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-Light';
    src: url('../assets/fonts/BarlowCondensed-Light.eot');
    src: url('../assets/fonts/BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Light.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Light.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Light.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Light.svg#BarlowCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-BoldItalic_1';
    src: url('../assets/fonts/BarlowCondensed-BoldItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-BoldItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-BoldItalic.svg#BarlowCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-ExtraBoldItalic';
    src: url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-ExtraBoldItalic.svg#BarlowCondensed-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-Medium';
    src: url('../assets/fonts/BarlowCondensed-Medium.eot');
    src: url('../assets/fonts/BarlowCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Medium.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Medium.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Medium.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Medium.svg#BarlowCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-Regular';
    src: url('../assets/fonts/BarlowCondensed-Regular.eot');
    src: url('../assets/fonts/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Regular.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Regular.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Regular.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Regular.svg#BarlowCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-MediumItalic';
    src: url('../assets/fonts/BarlowCondensed-MediumItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-MediumItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-MediumItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-MediumItalic.svg#BarlowCondensed-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-ExtraLight';
    src: url('../assets/fonts/BarlowCondensed-ExtraLight.eot');
    src: url('../assets/fonts/BarlowCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-ExtraLight.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-ExtraLight.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-ExtraLight.svg#BarlowCondensed-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-ExtraBold';
    src: url('../assets/fonts/BarlowCondensed-ExtraBold.eot');
    src: url('../assets/fonts/BarlowCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-ExtraBold.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-ExtraBold.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-ExtraBold.svg#BarlowCondensed-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-Bold';
    src: url('../assets/fonts/BarlowCondensed-Bold.eot');
    src: url('../assets/fonts/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Bold.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Bold.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Bold.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Bold.svg#BarlowCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-Thin';
    src: url('../assets/fonts/BarlowCondensed-Thin.eot');
    src: url('../assets/fonts/BarlowCondensed-Thin.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Thin.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Thin.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Thin.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Thin.svg#BarlowCondensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Condensed-LightItalic';
    src: url('../assets/fonts/BarlowCondensed-LightItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-LightItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-LightItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-LightItalic.svg#BarlowCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-ExtraLightItalic';
    src: url('../assets/fonts/BarlowCondensed-ExtraLightItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-ExtraLightItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-ExtraLightItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-ExtraLightItalic.svg#BarlowCondensed-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-Italic';
    src: url('../assets/fonts/BarlowCondensed-Italic.eot');
    src: url('../assets/fonts/BarlowCondensed-Italic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-Italic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-Italic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-Italic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-Italic.svg#BarlowCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-SemiBoldItalic';
    src: url('../assets/fonts/BarlowCondensed-SemiBoldItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-SemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-SemiBoldItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-SemiBoldItalic.svg#BarlowCondensed-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-ThinItalic';
    src: url('../assets/fonts/BarlowCondensed-ThinItalic.eot');
    src: url('../assets/fonts/BarlowCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-ThinItalic.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-ThinItalic.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-ThinItalic.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-ThinItalic.svg#BarlowCondensed-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow-Condensed-SemiBold';
    src: url('../assets/fonts/BarlowCondensed-SemiBold.eot');
    src: url('../assets/fonts/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/BarlowCondensed-SemiBold.woff') format('woff'),
    url('../assets/fonts/BarlowCondensed-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/BarlowCondensed-SemiBold.svg#BarlowCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ZCOOL-KuaiLe';
    src: url('../assets/fonts/ZCOOLKuaiLe-Regular.eot');
    src: url('../assets/fonts/ZCOOLKuaiLe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ZCOOLKuaiLe-Regular.woff2') format('woff2'),
    url('../assets/fonts/ZCOOLKuaiLe-Regular.woff') format('woff'),
    url('../assets/fonts/ZCOOLKuaiLe-Regular.ttf') format('truetype'),
    url('../assets/fonts/ZCOOLKuaiLe-Regular.svg#ZCOOLKuaiLe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}






