body{
    font-family: 'Ubuntu', sans-serif;

    .container{
        max-width: 992px;
        width: 100%;
    }

    .btn{
        outline: none;

        &:focus{
            outline: none;
            box-shadow: none!important;
        }
    }
}
